#{ifErrors}
<div class="error">
    <h2>Oops, please correct these errors</h2>
    <ul>
        #{errors}
            <li>${error}</li>
        #{/errors}
    </ul>
</div>
#{/ifErrors}
<div class="pageContent">
	<form method="post" action="user/save" class="pageForm  required-validate" onsubmit="return validateCallback(this, dialogAjaxDone);">
		<input name="user.id" type="hidden" size="30" value="${user?.id}" />
		<div class="pageFormContent" layoutH="56">
			<p>
				<label>用户名：</label>
				<input name="user.username" class="required" remote="user/hasName?" type="text" size="30" value="${user?.username}" />
			</p>
			<p>
				<label>密码：</label>
				<input name="user.password" class="required" minlength="6" maxlength="20" type="password" size="30" value="${user?.password}" alt="请输入客户名称"/>
			</p>
			<p>
				<label>名字：</label>
				<input name="user.name" class="required" minlength="6" maxlength="20" type="text" size="30" value="${user?.name}" alt="请输入客户名称"/>
			</p>
		</div>
		<div class="formBar">
			<ul>
				<!--<li><a class="buttonActive" href="javascript:;"><span>保存</span></a></li>-->
				<li><div class="buttonActive"><div class="buttonContent"><button type="submit">保存</button></div></div></li>
				<li>
					<div class="button"><div class="buttonContent"><button type="button" class="close">取消</button></div></div>
				</li>
			</ul>
		</div>
	</form>
</div>
